<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
body {
    font-color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
=======
*, *::after, *::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
>>>>>>> a6ff9cb8f6e5ff1cbf026ac12203d93b927012d1
}
