footer {
<<<<<<< HEAD
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cccccc;
    bottom: 0;
}

.foot_text {
    text-align: center;
    line-height: 60px;
=======
	background-color: #fff;
	height: 60px;
	border-top: 1px solid #CCCCCC;
	position: fixed;
	inset: 0px;
	top: unset;
	display: grid;
	place-content: center;
>>>>>>> a6ff9cb8f6e5ff1cbf026ac12203d93b927012d1
}
